* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 88px;
    --nav: radial-gradient(circle, rgb(29, 2, 83) 31%, rgb(34, 12, 87) 100%);
  }
  .navbar {
    /* background-color:rgb(95, 161, 169); */
    background:var(--nav)
    /* background-color: rgb(76, 76, 125); */
  
  }
  
  .container .navbar-brand img {
    height: 70px;
    width: 70px;
  }
  
  .container .dropdown #dropdownMenuLink {
    font-weight: bolder;
    color: rgb(2, 1, 1);
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
  }
  /* -------------- */
   .config-button{
    line-height: 5rem;
   }